<STYLE>
A
{
    COLOR: #000
}
A:visited
{
    COLOR: #111
}
A:hover
{
    COLOR: #222
}
#content
{
    POSITION: relative
}
#outer
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../images/tab2.gif);
    HEIGHT: 30px;
    PADDING-TOP: 0px
}
#outer UL
{
    BORDER-LEFT: #555 1px solid;
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px auto;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    DISPLAY: table;
    HEIGHT: 26px;
    PADDING-TOP: 0px
}
#outer UL LI
{
    MARGIN: 0px;
    WIDTH: auto;
    DISPLAY: table-cell;
    HEIGHT: 26px
}
#outer UL LI A
{
    BORDER-BOTTOM: #555 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #555 1px solid;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    DISPLAY: block;
    FONT-FAMILY: verdana, arial, sans-serif;
    WHITE-SPACE: nowrap;
    FLOAT: left;
    HEIGHT: 24px;
    COLOR: #000;
    MARGIN-LEFT: -1px;
    FONT-SIZE: 12px;
    BORDER-TOP: #555 1px solid;
    BORDER-RIGHT: #555 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}
#outer UL LI A.down
{
    BACKGROUND: url(down.gif) no-repeat right center
}
#outer UL LI A:hover
{
    BACKGROUND: #689;
    COLOR: #fff
}
#outer UL LI A.down:hover
{
    BACKGROUND: url(down_over.gif) #689 no-repeat right center;
    COLOR: #fff
}
#outer UL LI A.select
{
    BACKGROUND: url(down_over.gif) #689 no-repeat right center;
    COLOR: #fff
}
#outer UL LI A:focus
{
    OUTLINE-STYLE: none;
    OUTLINE-COLOR: invert;
    OUTLINE-WIDTH: 0px
}
#outer UL LI.clicked A
{
    BACKGROUND: url(down_up.gif) #8ac no-repeat right center;
    COLOR: #000
}
#outer UL LI.clicked A:hover
{
    BACKGROUND: url(down_up.gif) #8ac no-repeat right center;
    COLOR: #000
}
#outer UL LI.clicked A.select:hover
{
    BACKGROUND: url(down_over.gif) #a4a427 no-repeat right center;
    COLOR: #fff
}
#submenus UL.none
{
    DISPLAY: none
}
#submenus UL.yes
{
    DISPLAY: table
}
#selected UL
{
    DISPLAY: table;
    BACKGROUND: #6a849f
}
#submenus
{
    POSITION: absolute;
    TEXT-ALIGN: center;
    WIDTH: 100%;
    BACKGROUND: #6a849f;
    CLEAR: left
}
#submenus UL
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px auto;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    HEIGHT: 20px;
    PADDING-TOP: 0px
}
#submenus UL LI
{
    MARGIN: 0px;
    WIDTH: auto;
    DISPLAY: table-cell
}
#submenus UL LI A
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 16px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 14px;
    DISPLAY: block;
    FONT-FAMILY: verdana, arial, sans-serif;
    WHITE-SPACE: nowrap;
    BACKGROUND: url(diamond2.gif) no-repeat right center;
    FLOAT: left;
    HEIGHT: 20px;
    COLOR: #fff;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}
#submenus UL LI A.last
{
    BACKGROUND: #6a849f
}
#submenus UL LI A:hover
{
    COLOR: #fff;
    TEXT-DECORATION: underline
}
#selected
{
    POSITION: absolute;
    TEXT-ALIGN: center;
    WIDTH: 100%;
    BACKGROUND: #6a849f;
    CLEAR: left
}
#selected UL
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px auto;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    HEIGHT: 20px;
    PADDING-TOP: 0px
}
#selected UL LI
{
    MARGIN: 0px;
    WIDTH: auto;
    DISPLAY: table-cell
}
#selected UL LI A
{
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 16px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 14px;
    DISPLAY: block;
    FONT-FAMILY: verdana, arial, sans-serif;
    WHITE-SPACE: nowrap;
    BACKGROUND: url(diamond2.gif) no-repeat right center;
    FLOAT: left;
    HEIGHT: 20px;
    COLOR: #fff;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}
#selected UL LI A.last
{
    BACKGROUND: #6a849f
}
#selected UL LI A:hover
{
    COLOR: #fff;
    TEXT-DECORATION: underline
}
</STYLE>