@CHARSET "UTF-8";


/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,ul,li
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

li                  { list-style-type:none; }
img,fieldset,iframe { border:0; }
img,fieldset        { border:none; }
li img, dd img      { vertical-align:top; }
input               { vertical-align:middle; }
hr                  { display:none; }
table               { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; table-layout:fixed; }

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
td, td span,
input, select, textarea, pre {
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: -moz-auto;
    -o-user-select: auto;
    user-select: auto;
}

/* base */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(font/NanumGothic-Regular.eot);
  src: url(font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Regular.woff2) format('x-woff2'),
       url(font/NanumGothic-Regular.woff) format('woff'),
       url(font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url(font/NanumGothic-Bold.eot);
  src: url(font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Bold.woff2) format('x-woff2'),
       url(font/NanumGothic-Bold.woff) format('woff'),
       url(font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src: url(font/NanumGothic-ExtraBold.eot);
  src: url(font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-ExtraBold.woff2) format('x-woff2'),
       url(font/NanumGothic-ExtraBold.woff) format('woff'),
       url(font/NanumGothic-ExtraBold.ttf) format('truetype');
}
a          { text-decoration:none; }

body       { font-family:'맑은 고딕', 'malgun','NanumGothic', arial, sans-serif; color:#333; font-size:9pt; }
