@CHARSET "UTF-8";

@import url("base.css");

html, body { width:100%; height:100%; padding:0; margin:0; overflow:hidden;}

.login_wrap         { width:100%; min-width:1000px; height:100%; min-height:900px; background:#334c66 url(../img/bg_login.png) repeat-x; overflow:auto; }
.login_inner_wrap   { position:absolute; top:50%; left:50%; width:820px; height:260px; margin:-150px 0 0 -410px; background:url(../img/bg_login_wrap.png) no-repeat; text-align:center; }
    
.login              { width:390px; height:130px; margin:90px 0 0 215px; background:#a3b8cc; border:1px solid #d5d8db; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.login table        { width:350px; margin:10px 0 0 20px; }
.login th           { padding:3px 3px 0 0; font-size:10pt; font-weight:700; color:#333; text-align:right; }
/* ff */body:not(:-moz-handler-blocked) .login th           { letter-spacing:-1px; }
/* ie10 */.ie10 .login th                                   { letter-spacing:-1px; }
.login td           { padding:4px 20px 0 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.login td input[type="text"], .login td input[type="password"]{
 width:100%; padding:6px 5px; background:#7d98b3; border:1px solid #6b8299; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:11pt;
}
.login td select {
	width:100%; height:30px; padding:0px 5px; background:#7d98b3; border:1px solid #6b8299; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:11pt !important;
}
/* ff */body:not(:-moz-handler-blocked) .login td input[type="text"], body:not(:-moz-handler-blocked) .login td input[type="password"]{ padding:6px 5px; }
/* ie10 */.ie10 .login td input[type="text"], .ie10 .login td input[type="password"]{ padding:7px 5px; }
/* 오페라 */noindex:-o-prefocus, .login td input[type="text"], noindex:-o-prefocus, .login td input[type="password"]{ padding:7px 5px; }
.login_button       { 
 width:100px !important; height:72px !important; padding:0; border:1px solid #6b8299; 
 font-family:'맑은 고딕', 'malgun','NanumGothic', arial, sans-serif; font-size:13pt; color:#fff; text-align:center; cursor:pointer; letter-spacing:0 !important;
 -webkit-border-radius:5px !important; -moz-border-radius:5px !important; border-radius:5px !important; display:inline-block;  
background: -moz-linear-gradient(top,  #7d98b3 0%, #4c6680 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d98b3), color-stop(100%,#4c6680)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d98b3 0%,#4c6680 100%); /* W3C */   
}
/* ff */body:not(:-moz-handler-blocked) .login_button   { padding-bottom:4px;  }
/* ie10 */.ie10 .login_button                           { height:70px !important;  }
/* 오페라 */noindex:-o-prefocus, .login_button          { height:71px !important;  }
.login_button:hover { color:#33bbff !important;
background: -moz-linear-gradient(top,  #4c6680 20%, #7d98b3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#4c6680), color-stop(100%,#7d98b3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c6680 20%,#7d98b3 100%); /* W3C */
}
.login_button:active { color:#33bbff !important; }

.comment_login        { width:330px; margin:30px 0 10px 20px; padding-left:20px; background:url(../img/bullet_login.png) no-repeat; text-align:left; color:#000; }

.login table.confirm        { margin-top:0; }

.confirm_button       { 
 width:100px !important; height:31px !important; padding:0; border:1px solid #6b8299; 
font-family:'맑은 고딕', 'malgun','NanumGothic', arial, sans-serif; font-size:9pt; color:#fff; text-align:center; cursor:pointer; letter-spacing:0 !important;
 -webkit-border-radius:5px !important; -moz-border-radius:5px !important; border-radius:5px !important; display:inline-block; 
background: -moz-linear-gradient(top,  #7d98b3 0%, #4c6680 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d98b3), color-stop(100%,#4c6680)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d98b3 0%,#4c6680 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d98b3 0%,#4c6680 100%); /* W3C */  
}
/* ff */body:not(:-moz-handler-blocked) .confirm_button { padding-bottom:4px;  }
.confirm_button:hover { color:#33bbff !important;
background: -moz-linear-gradient(top,  #4c6680 20%, #7d98b3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#4c6680), color-stop(100%,#7d98b3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c6680 20%,#7d98b3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c6680 20%,#7d98b3 100%); /* W3C */
}
.confirm_button:active { color:#33bbff !important; }

.wrap_login_error { width:380px; height:40px; }
.login_error    { width:380px; height:25px; margin:0 0 0 221px; padding-top:6px; background:url(../img/bg_login_error.png) repeat-x; text-align:cetner; color:red; display:none; }



.loading_login        { width:350px; margin:25px 0 10px 20px; padding-top:50px; background:url(../img/login_loading.gif) no-repeat 50% 0; text-align:center; color:#000; }
  
.footer    { float:left;  width:100%; margin:15px 0 0; font-size:8pt; color:#5c7a99; text-align:center;  }